@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  text-align: center;
  margin: 0 auto;
  background-color: #F2F1E6;
  background-image: url(../public/dots.webp);
  background-blend-mode: color-burn;
  background-size: cover;
}

main {
  height: 100%;
  padding: 0;
  margin: 0 auto;


  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

header {
  background-image: url(../public/crossword.png);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: azure;
  line-height: 3rem;
  padding-top: 0.5rem;
  text-align: center;
  border-top: 1rem solid #FFD600
}