.nav {
    padding-bottom: 0.5rem;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    gap: 0.5rem;
    list-style-type: none;
    margin: 1rem 0 0 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.active {
    text-decoration: none;
    color: #FFD600;
    font-weight: bold;
}